<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center; ">
    <h2>Format to search parts effectively</h1>
    <p>1.MLCC:<b>  CAP CER (capacitance) (Voltage) (DIelectric) (Case Code)</b></p>
    <p>2. Inductor:<b> Ind (inductance)(tolerence)(test frequency)(current rating)</b></p>
    <p>3. MOSFET: <b> MOSFET (voltage)(current rating)</b></p>
    <p>4. Diodes: <b>Diode (type)(voltage)(Average Rectified Current)(Number of  pins)</b></p>
    <p>5. Thermistor: <b>Thermistor (Description)(Resistance)</b></p>

</body>
</html>