<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="images/x-icon" href="https://dynamic.exportersindia.com/company_logo/8181356.jpg"> 
    <title>Millennium Semiconductors</title>
    <!-- Add any additional styles or links to CSS files here -->
</head>
<body>

    <div>
        <h1 style="text-align: center;">No Results Found</h1>
        <p style="font-size: 20px; color: red; font-weight: bold; text-align: center;">Sorry, but we couldn't find any results based on your request.</p>
        <p style="font-size: 20px; color: red; font-weight: bold; text-align: center;">Please check if your Search Query is upto given formats.</p>
        <!-- You can add more content or styling here as needed -->
    </div>

    <!-- Add any additional scripts or links to JS files here -->
</body>
</html>